---
layout: curric_links
section_id: portfolio
items:
  - day_num: 1
    title: Coin Toss Simulation
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/196946402/
  - day_num: 2
    title: Solar System Activity
    topic: Science
    color: 21fd3c4a
    scratch_link: https://scratch.mit.edu/projects/198977064/
  - day_num: 3
    title: Exocytosis Animation
    topic: Science
    color: 21fd3c4a
    scratch_link: https://scratch.mit.edu/projects/216479364/
  - day_num: 4
    title: Writing Prompt Generator
    topic: Language Arts
    color: fee21a4f
    scratch_link: https://scratch.mit.edu/projects/216276351/
  - day_num: 5
    title: Parallelogram Area Proof
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/216377623/
  - day_num: 6
    title: Coin Toss Probability Graphing Program
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/196735486/
  - day_num: 7
    title: Coin Toss Graphing Program in Trinket.io
    topic: Math
    color: 38c4fa3b
    scratch_link: 
  - day_num: 8
    title: Regular Polygon Drawing Function
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/217539378/
  - day_num: 9
    title: Bohr Model
    topic: Science
    color: 21fd3c4a
    scratch_link: https://scratch.mit.edu/projects/217876602/
  - day_num: 10
    title: Madlib
    topic: Language Arts
    color: fee21a4f
    scratch_link: https://scratch.mit.edu/projects/217904207/
  - day_num: 11
    title: Triangle Tesselation Pattern
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/217003850/
  - day_num: 12
    title: Tesselation Game
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/218355078/
  - day_num: 13
    title: Probability Spinner
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/206145300/
  - day_num: 14
    title: Kinetic Molecular Theory Animation
    topic: Science
    color: 21fd3c4a
    scratch_link: https://scratch.mit.edu/projects/74352746/
  - day_num: 15
    title: Slot Machine
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/209275977/
  - day_num: 16
    title: Flash Cards
    topic: Various
    color: fee21a4f
    scratch_link: https://scratch.mit.edu/projects/219842681/
  - day_num: 17
    title: Angle Estimation Game
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/219854106/
  - day_num: 18
    title: Interactive Timeline
    topic: Various
    color: fee21a4f
    scratch_link: https://scratch.mit.edu/projects/220021505/
  - day_num: 19
    title: Snowflakes
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/220297246/
  - day_num: 20
    title: Blocks in a Bag
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/207664811/
  - day_num: 21
    title: Birthday Problem
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/220399182/
  - day_num: 22
    title: Dice Rolling Simulation
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/221103068/
  - day_num: 23
    title: Distance Between Points Game
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/221029614/
  - day_num: 24
    title: Bubble Sorting Algorithm
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/221044815/
  - day_num: 25
    title: Another Angle Aiming Game
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/221304063/
  - day_num: 26
    title: Cell Diagram
    topic: Science
    scratch_link: https://scratch.mit.edu/projects/221908454/
    color: 21fd3c4a
    end: 1
  - day_num: 27
    title: Caesar Cipher Encoder/Decoder
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/222227552/
  - day_num: 28
    title: Stretching and Shrinking
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/222219832/
  - day_num: 29
    title: Geometric Art
    topic: Art
    color: fee21a4f
    scratch_link: https://scratch.mit.edu/projects/222219417/
  - day_num: 30
    title: Increasing Arithmetic Sequences
    topic: Math
    color: 38c4fa3b
    scratch_link: https://scratch.mit.edu/projects/223060561/
  - day_num: 31
    title: Monster Generator
    topic: Art
    scratch_link: https://scratch.mit.edu/projects/222985436/
    color: fee21a4f
    end: 1
---

<div class='full' style="padding: 40px 0 0;">


  <div class="row connected-code-project">
  {% for x in page.items %}
    {% if x.end == 1 %}
    <div class="large-3 medium-4 columns end">
    {% else %}
    <div class="large-3 medium-4 columns">
    {% endif %}
      <a href="{{x.scratch_link}}" target="_blank">
          <div class="card">
            <div class="card-image">
              <img src="/images/ConnectedCodingImages/Day{{x.day_num}}-min.png" />
            </div>
            <div class="card-content" style="background: #{{x.color}};">
              <h3 style="color: black;">Day {{x.day_num}}</h3>
              <h5 >Topic: {{x.topic}}</h5>
              <p style="color: black;">{{x.title}}</p>
            </div>
          </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
