---
layout: default
section_id: portfolio
items:
  - title: Introduction
    topic: Introduction
    data-link: introduction
    google_link: https://docs.google.com/document/d/e/2PACX-1vSRTj2uskRonUO0-kb4Vbgx-TUZd7TUhhyO8JwdqIuLY8GrbwAkj1A6pKC17GLXPJ0KbBt5Vu0zX4Cw/pub?embedded=true
    sharable_link: https://docs.google.com/document/d/1EWc7CWX9CmrlajLlN4be_8zwPUuPpIA4miZs-1Ehj1Y/edit?usp=sharing
  - title: Stacking Cups
    topic: Day 1 - Unplugged Activity 1
    data-link: unplugged1
    google_link: https://docs.google.com/document/d/e/2PACX-1vT0xeXPr54waJ7ubL3Bq-oczeOSIXBKIScXu9H7tfdLlmlOEohJhrKaPyPpyn5EFcnWFmk6bTEs6qXH/pub?embedded=true
    sharable_link: https://docs.google.com/document/d/1w-lLY52ktOs_ubj36UuqWYbxQp2bgiVSGULsQzJx7JY/edit?usp=sharing
  - title: Tangrams
    topic: Day 1 - Unplugged Activity 2
    data-link: unplugged2
    google_link: https://docs.google.com/document/d/e/2PACX-1vQBBqZVWpBDi3dqf9AURtr8FmyyeLyFeEsnhbz4REfsB2Rl2VNIXXAPdy9XRso8Bubj-Hpl4hJD8HmR/pub?embedded=true
    sharable_link: https://docs.google.com/document/d/1Bfa4MbzLbN48cchI25J4YXEavYf_Ef0oRPDWZDjOm0g/edit?usp=sharing
  - title: Paper Folding
    topic: Day 1 - Unplugged Activity 3
    data-link: unplugged3
    google_link: https://docs.google.com/document/d/e/2PACX-1vQ6vhIxA73eukDYTMIzOu0iaGVR39vlNgi8iM9H48NSk842YBhvq5_IkD2vL5QX0mLmpvAQVGJQDZqi/pub?embedded=true
    sharable_link: https://docs.google.com/document/d/1xyZjtcP9l0yh5tzfCv63hWrPS-CBvoQRa0c5WztpSCU/edit?usp=sharing
  - title: Finding Your Way Around
    topic: Day 1 - Coding Session 1
    data-link: findingway
    google_link: https://docs.google.com/document/d/e/2PACX-1vQQBXbrKSnFzOQc5Y5g_1RPPNcQYnkshzLl9yc-RUPR71YZjUuVsU4jnmABR9eSA1SCQdOaf-FyBc3r/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=103BFBbQrGOguY9bd5ejZF3puZIDnHUIu24B87jvAyRg
  - title: So Many Different Blocks!
    topic: Day 1 - Coding Session 2
    data-link: differentblocks
    google_link: https://docs.google.com/document/d/e/2PACX-1vRnfmLYC1Liay0Djeg7jdOVSI3OaOEI8haLwGHYTPMCXVvBMPNTLnGzmEqbttongi0iWvx5l97kkRue/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1z0cSpUacNPsrRh9Bg9bPpxWmW0SBj-wiPw0F1WhJEAM
  - title: Let's Get Moving (and Drawing)
    topic: Day 1 - Coding Session 3
    data-link: getmoving
    google_link: https://docs.google.com/document/d/e/2PACX-1vRn4lKY___aUfiLFh8NvUk88eEK_qy1nbQAxO0cIPDgQCXrgA46joTT4e6-eXsp_pUlhUvHh82er09v/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1yjDPIcKohoOH32EFLZDLCYeBkdcTn_MCLH2OsRyN2g4
  - title: Looks and Sounds
    topic: Day 1 - Coding Session 4
    data-link: looksandsounds
    google_link: https://docs.google.com/document/d/e/2PACX-1vTiF-cdZ14ndfb802WtK5K_zIxGky8ZzDswMaSdN8-CAbAupFFfVd3pKjzHmqAC529jbXsbV1OxfITE/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1D40ZUMVNXNhrZ2DWiAOOI_fEaINUB0VBLu-DRlXk4-4
  - title: Going Loopy
    topic: Day 1 - Coding Session 5
    data-link: goingloopy
    google_link: https://docs.google.com/document/d/e/2PACX-1vQ9P67JamO1JVPOnAjZ24MlwEJcZmPDnWe7fI3md_cgnmv2ujJNeOYsERuaje9RN9aLOI9CsMbCKdln/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=15EXkbdCwflJek7bXZwey-mn-VrDnQOLAxRfMWJ6EmIQ
  - title: Conditionals
    topic: Day 1 - Coding Session 6
    data-link: conditionals
    google_link: https://docs.google.com/document/d/e/2PACX-1vQewxBLggIKDbRdKF4q9dwNwvejFIa1JwoZNG6lYUHJVd9zOGOr4K-HcFHdFGs8L0hgNp9G35qZ01Pe/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1nemJ8dj7C_kOoUUXLwpjIIsnohqJhtiCUfubcGA7N6g
  - title: Sorting Algorithms
    topic: Day 2 - Unplugged Activity 4
    data-link: unplugged4
    google_link: https://docs.google.com/document/d/e/2PACX-1vTX_vunr3AQE1MIyaCb_q_hUmNdaeAc_t2uJYUane5ovSE7tjClf9fcsRo4eyv1XhaqTZg-Q_h2J8cK/pub?embedded=true
    sharable_link: https://docs.google.com/document/d/1IqSO_aITjSYGqxOpdjYCSWocUmzNmcCcZAoNX-U_Nh4/edit?usp=sharing
  - title: Variables
    topic: Day 2 - Coding Session 1
    data-link: variables
    google_link: https://docs.google.com/document/d/e/2PACX-1vTxJUQQU94uLf9YlA-qUFA_oZTGL9vCJdwU3ino1reYWXrD1U_O4fMohhLQE_rPwn3VfKR1C8av14vL/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=191y95VqSaPVaSWdv7-o4ZvGTT3rNWS0vZCCBO8omg6c
  - title: Broadcasting
    topic: Day 2 - Coding Session 2
    data-link: broadcasting
    google_link: https://docs.google.com/document/d/e/2PACX-1vTiF-cdZ14ndfb802WtK5K_zIxGky8ZzDswMaSdN8-CAbAupFFfVd3pKjzHmqAC529jbXsbV1OxfITE/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1n49bFo-zDnOEBWFLEAFxQpMBGo8cWqsyZsGEcWsyFHI
  - title: Resources
    topic: Editable Document
    data-link: resources
    google_link: https://docs.google.com/document/d/e/2PACX-1vRXE1i8gpZUVucn65v8cQknjZbOHaeem-k6CmV0dqNe8H1b-P5rsWKMlm4C2V0G2KlVg_ln9f4n_cdZ/pub?embedded=true
    sharable_link: https://docs.google.com/document/d/1P8bf2iDF_6asCpQkGOrHm9Szcr8cPi79A57BVaFb7KI/edit?usp=sharing
---


<div class="row">
  <div class="title-group" style="margin-top:40px;">
      <h1 class="special">
          <span style="margin-left:10px;">
              Computational Thinking: Beyond Code
          </span>
      </h1>
      <p class="lead" style="margin-bottom:20px; margin-left:10px;">
          Welcome to the page for my Level 5 workshop. Below you will find all the activities and resources used in the workshop. 
      </p>
  </div>
</div>

<div class='full' style="padding: 40px 0 0;">
    <div class="row">
        <div id="ribbon"></div>
        <div id="page">

            <!-- Zozo Tabs Start-->
            <div id="tabbed-nav2" class="z-tabs-loading">

                <!-- Tab Navigation Menu -->
                <ul>
                    {% for x in page.items %}
                    <li data-link="{{x.data-link}}"><a>{{x.title}}<span>{{x.topic}}</span></a></li>
                    {% endfor %}
                </ul>

                <!-- Content container -->
                <div>
                    {% for x in page.items %}
                    <div class="row">
                        <div class="medium-12 columns">
                            <h4>{{x.title}} ({{x.topic}})</h4>
                            <a href="{{x.sharable_link}}" target="_blank"  class="button" style="background: #FE491A; border: #FE491A;">Google Doc Link</a>

                            <iframe src="{{x.google_link}}" height="600" width="100%"></iframe>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <span class="z-spinner"></span>
            </div>
            <!-- Zozo Tabs End-->
        </div>
        <div class='two spacing'></div>
    </div>
</div>



<script>
    jQuery(document).ready(function ($) {
        /* jQuery activation and setting options for second tabs*/
        $("#tabbed-nav2").zozoTabs({
            position: "top-left",
            orientation: "vertical",
            multiline: true,
            style: "contained",
            theme: "flat-turquoise flat",
            spaced: true,
            rounded: false,
            deeplinking: true,
            defaultTab: 'introduction',
            animation: {
                easing: "easeInOutExpo",
                duration: 450,
                effects: "slideH"
            }
        });
    });
</script>
