---
layout: default
section_id: home
works:
  - image: images/my365-600x500.png
    title: My365 Project
    link_to: portfolio_items/my365.html
    class: coding photography
    desc: Coding &amp; Photography
  - image: images/breakout-600x500.png
    title: Breakout Video Game
    link_to: portfolio_items/breakout.html
    class: coding teaching
    desc: Coding
  - image: images/Family-600x500.png
    title: Family &amp; Wedding Photography
    link_to: portfolio_items/fam_wed_photography.html
    class: photography
    desc: Photography
  - image: images/curricular-links.png
    title: Curricular Links
    link_to: portfolio_items/curricular_links.html
    class: teaching coding
    desc: Teaching &amp; Coding

---

<div class="image-header" style="height:550px; text-align:center; background: url(images/header-wide.png) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" >
  <div class="row">
    <div class="medium-8 columns">
      <h2 style="text-transform: uppercase; color: white; padding-top: 70px;">Hello, I am Drew</h2>
      <a href="about.html" class="button" style="margin-top:10px;">Learn More</a>
    </div>
  </div>
</div>

<div class='shadowless'>
  <nav class='top-bar secondary-nav' role="navigation" style="background: #fff; height: 100px; z-index: 150; margin-bottom: -100px; box-shadow: 0 2px 3px rgba(0,0,0,.4); text-align:center; max-width:100%;">
    <section class='top-bar-section' style="display:inline-block;">
      <ul>
        <li><a href="#snapshot">Snapshot About Me</a></li>
        <li><a href="#teacher">The Teacher</a></li>
        <li><a href="#learner">The Learner</a></li>
        <li><a href="#developer">The Developer</a></li>
        <li><a href="#creator">The Creator</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class='two spacing'></div>

<div style="padding-top:100px;">
  <div id="snapshot" class="row snapshots-about-me">
    <div class='large-12 columns'>
      <div class='spacing'></div>
      <h3>
        Snapshot About Me
      </h3>
      <div class='spacing'></div>
    </div>
    <div class="large-4 columns snapshot-nav">
      <h3 data-cat="new-things" style="margin-bottom:20px;">Keep learning new things</h3>
      <h3 data-cat="me-time" style="margin-bottom:20px;">Give yourself a little 'me' time everyday</h3>
      <h3 data-cat="be-a-maker" style="margin-bottom:20px;">Make stuff. What stuff? Anything!</h3>
      <h3 data-cat="mans-bf" style="margin-bottom:20px;">Dogs <span style="font-size:20px; text-decoration: underline;">ARE</span> man's best friend</h3>
      <h3 data-cat="kindness" style="margin-bottom:20px;">Be honest, caring and compassionate</h3>
      <h3 data-cat="balanced" style="margin-bottom:20px;">Strive for balance</h3>
      <h3 data-cat="boardgames" style="margin-bottom:20px;">Boardgames are cool. Ignore anyone who says otherwise!</h3>
      <h3 data-cat="read-everyday" style="margin-bottom:20px;">Read a little everyday</h3>
    </div>
    <div class="large-8 columns">
      <ul class="grid snapshots-images">
        <div class="grid-sizer"></div>
        <li class="grid-item new-things">
          <img src="/images/snapshot-imgs/1a.jpg" />
        </li>
        <li class="grid-item mans-bf">
          <img src="/images/snapshot-imgs/1b.jpg" />
        </li>
        <li class="grid-item mans-bf be-a-maker boardgames">
          <img src="/images/snapshot-imgs/1c.jpg" />
        </li>
        <li class="grid-item kindness">
          <img src="/images/snapshot-imgs/1d.jpg" />
        </li>
        <li class="grid-item balanced read-everyday">
          <img src="/images/snapshot-imgs/1e.jpg" />
        </li>
        <li class="grid-item kindness be-a-maker boardgames">
          <img src="/images/snapshot-imgs/1f.jpg" />
        </li>
        <li style="list-style-type: none;" class="grid-item me-time">
          <img src="/images/snapshot-imgs/1h.jpg" />
        </li>
        <li class="grid-item kindness">
          <img src="/images/snapshot-imgs/1i.jpg" />
        </li>
        <li class="grid-item me-time">
          <img src="/images/snapshot-imgs/1j.jpg" />
        </li>
        <li class="grid-item read-everyday boardgames">
          <img src="/images/snapshot-imgs/1k.jpg" />
        </li>
        <li class="grid-item new-things">
          <img src="/images/snapshot-imgs/1l.jpg" />
        </li>
        <li class="grid-item mans-bf">
          <img src="/images/snapshot-imgs/1m.jpg" />
        </li>
        <li class="grid-item mans-bf be-a-maker boardgames">
          <img src="/images/snapshot-imgs/1n.jpg" />
        </li>
        <li class="grid-item kindness">
          <img src="/images/snapshot-imgs/1o.jpg" />
        </li>
        <li class="grid-item balanced read-everyday">
          <img src="/images/snapshot-imgs/1p.jpg" />
        </li>
        <li class="grid-item balanced read-everyday">
          <img src="/images/snapshot-imgs/1q.jpg" />
        </li>
        <li class="grid-item kindness">
          <img src="/images/snapshot-imgs/1r.jpg" />
        </li>
        <li class="grid-item balanced read-everyday">
          <img src="/images/snapshot-imgs/1s.jpg" />
        </li>
        <li class="grid-item balanced read-everyday">
          <img src="/images/snapshot-imgs/1t.jpg" />
        </li>
      </ul>
    </div>
  </div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div id='teacher' class='row'>
  <div class='large-12 columns'>
    <h3>
      The Teacher
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='medium-6 columns'>
    <div class="medium-12 columns" style="background:#fe491a; padding:10px; margin-bottom:10px;">
      <h3>Where I've taught</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Shen Wai International School<em style="float:right; font-size:16px;">Shenzhen, China</em></span>
        <p>August 2016 - Present</p>
        <ul>
          <li>MYP/DP Mathematics Teacher</li>
        </ul>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Stratford Hall<em style="float:right; font-size:16px;">Vancouver, Canada</em></span>
        <p>Sept 2015 - June 2016</p>
        <ul>
          <li>MYP Design Teacher</li>
        </ul>
        <p>Aug 2010 - June 2014</p>
        <ul>
          <li>MYP/DP Mathematics and DP Chemistry Teacher</li>
        </ul>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Fukuoka International School<em style="float:right; font-size:16px;">Fukuoka, Japan</em></span>
        <p>Aug 2008 - June 2010</p>
        <ul>
          <li>DP Chemistry and Biology Teacher</li>
        </ul>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">American School of Ulaanbaatar<em style="float:right; font-size:16px;">Ulaanbaatar, Mongolia</em></span>
        <p>May 2007 - June 2008</p>
        <ul>
          <li>Middle Science Teacher</li>
        </ul>
      </div>
    </div>

    <div class="medium-12 columns" style="background: #4abdac; padding: 10px;">
      <h3>Education Related Projects</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Learn A Little Python Curriculum</span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Curricular Links</span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Course Website</span>
        <p>Testing</p>
      </div>
    </div>
  </div>

  <div class='medium-6 columns'>
    <div class="medium-12 columns" style="background: #fab438; padding: 10px; margin-bottom:10px;">
      <h3>Workshops I've run</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">21st Century Learning Hong Kong<em style="float:right; font-size:16px;">March 2017</em></span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">21st Century Learning TeachMeet<em style="float:right; font-size:16px;">December 2016</em></span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">AISG EdTech<em style="float:right; font-size:16px;">October 2016</em></span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">St. George's Conference<em style="float:right; font-size:16px;">January 2013</em></span>
        <p>Testing</p>
      </div>
    </div>

    <div class="medium-12 columns" style="background:#fe491a; padding:10px;">
      <img alt="" src="images/WorkshopPhoto.jpg" style="padding: 10px;">
    </div>
  </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div id='learner' class='row'>
  <div class='large-12 columns'>
    <h3>
      The Learner
    </h3>
    <div class='spacing'></div>
  </div>

  <div class='medium-6 columns' style="margin-bottom:10px;">
    <div class="medium-12 columns" style="background:#4abdac; padding:10px;">
      <h3>Education</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Masters in Mathematics for Teachers<em style="float:right; font-size:16px;">Waterloo University</em></span>
        <p>September 2012 - June 2016</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Bachelors of Education<em style="float:right; font-size:16px;">Nipissing University</em></span>
        <p>September 2006 - June 2007</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Bachelors of Medical Sciences<em style="float:right; font-size:16px;">Western University</em></span>
        <p>September 2002 - June 2006</p>
      </div>
    </div>
  </div>

  <div class='medium-6 columns' style="margin-bottom:10px;">
    <div class="medium-12 columns" style="background: #fab438; padding: 10px;">
      <h3>Training & Workshops</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">DP Mathematics SL - Category 2<em style="float:right; font-size:16px;">February 2017</em></span>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Google Certified Level 2 Educator<em style="float:right; font-size:16px;">January 2017</em></span>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">MYP Mathematics - Category 3<em style="float:right; font-size:16px;">November 2012</em></span>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">DP Chemistry - Category 3<em style="float:right; font-size:16px;">June 2011</em></span>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">DP Chemistry - Category 1<em style="float:right; font-size:16px;">November 2008</em></span>
      </div>
    </div>
  </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div id='developer' class='row'>
  <div class='large-12 columns'>
    <h3>
      The Developer
    </h3>
    <div class='spacing'></div>
  </div>

  <div class='medium-6 columns' style="margin-bottom:10px;">
    <div class="medium-12 columns" style="background:#fe491a; padding:10px; margin-bottom:10px;">
      <h3>Education</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Web Development Program<em style="float:right; font-size:16px;">Lighthouse Labs</em></span>
        <p>September - November 2014</p>
      </div>
    </div>

    <div class="medium-12 columns" style="background: #fab438; padding: 10px;">
      <h3>Some Related Projects</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">My 365 Project</span>
        <p>This web application was built to manage my personal 'photograph a day project'.</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Curator (QR8R)</span>
        <p>Curator is an image curating application that was created for my final project while completing the Lighthouse Labs Web Development program.</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Remarks</span>
        <p>Remarks is a document markup application that was created for my midterm project while completing the Lighthouse Labs Web Development program.</p>
      </div>
      <a href="#" class="button expand" style="background: #4abdac; border: #4abdac;">Learn More About These Projects</a>
    </div>
  </div>

  <div class='medium-6 columns' style="margin-bottom:10px;">
    <div class="medium-12 columns" style="background:#4abdac; padding:10px; margin-bottom:10px;">
      <h3>Where I've worked</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Vendasta Technologies<em style="float:right; font-size:16px;">Vancouver, Canada</em></span>
        <p>September 2015 - June 2016</p>
        <ul>
          <li>Junior Software Developer</li>
        </ul>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Coastr<em style="float:right; font-size:16px;">Vancouver, Canada</em></span>
        <p>November 2014 - August 2015</p>
        <ul>
          <li>Junior Software Developer</li>
        </ul>
      </div>
    </div>
    <div class="medium-12 columns" style="background:#fe491a; padding:10px;">
      <img alt="" src="images/DeveloperImage.jpg" style="padding: 10px;">
    </div>
  </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div id='creator' class='row'>
  <div class='large-12 columns'>
    <h3>
      The Creator
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='medium-6 columns' style="margin-bottom:10px;">
    <div class="medium-12 columns" style="background:#4abdac; padding:10px;">
      <h3>Photography</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Wedding & Family Photography<em style="float:right; font-size:16px;">2012 - 2015</em></span>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Photography Fundraising Project<em style="float:right; font-size:16px;">2012 - 2015</em></span>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">My 365 Project<em style="float:right; font-size:16px;">2015</em></span>
      </div>

    </div>
  </div>

  <div class='medium-6 columns' style="margin-bottom:10px;">
    <div class="medium-12 columns" style="background:#fab438; padding:10px;">
      <h3>Coding & Education</h3>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Why Learn Coding? Game</span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Learn A Little Python Curriculum</span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Curricular Links</span>
        <p>Testing</p>
      </div>

      <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
        <span style="font-weight:bold; font-size: 18px;">Course Website</span>
        <p>Testing</p>
      </div>
    </div>
  </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Recent posts
      /
      <a href='/blog/'>View more posts</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}
    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class='two spacing'></div>
</div>
