---
layout: default
section_id: home
works:
  - image: images/my365-600x500.png
    title: My365 Project
    link_to: portfolio_items/my365.html
    class: coding photography
    desc: Coding &amp; Photography
  - image: images/breakout-600x500.png
    title: Breakout Video Game
    link_to: portfolio_items/breakout.html
    class: coding teaching
    desc: Coding
  - image: images/Family-600x500.png
    title: Family &amp; Wedding Photography
    link_to: portfolio_items/fam_wed_photography.html
    class: photography
    desc: Photography
  - image: images/curricular-links.png
    title: Curricular Links
    link_to: portfolio_items/curricular_links.html
    class: teaching coding
    desc: Teaching &amp; Coding

---

<div class="image-header">
  <div class="row">
    <div class="header-text-container medium-8 columns">
      <span class="header-intro-text">I am <span style="font-size:40px;">Drew</span> and I am</span>
      <span id="word" class="word-color1">an educator.</span>
    </div>
  </div>
</div>

<div class='shadowless show-for-large-up'>
  <nav class='top-bar secondary-nav' role="navigation" style="background: #fff; height: 100px; z-index: 150; margin-bottom: -100px; box-shadow: 0 2px 3px rgba(0,0,0,.4); text-align:center; max-width:100%;">
    <section class='top-bar-section' style="display:inline-block;">
      <ul> 
        <li><a href="#snapshot">Snapshot About Me</a></li>
        <li><a href="#teacher">The Teacher</a></li>
        <li><a href="#learner">The Learner</a></li>
        <li><a href="#developer">The Developer</a></li>
        <li><a href="#creator">The Creator</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class='two spacing show-for-large-up'></div>

<div id="snapshot">
  <div class='two spacing show-for-large-up'></div>
  <div class='spacing show-for-large-up'></div>
  <div style="height:150px; text-align:center; background: url(images/background_test3.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" >
    <h2 style="text-transform: uppercase; color: white; text-align:center; padding-top: 50px;">Snapshot About Me</h2>
  </div>
  <div class='two spacing'></div>
  <div class="row snapshots-about-me">
    <div class="large-4 medium-6 columns snapshot-nav">
      <h3 data-cat="goodpeople" style="color: white; background:#4ABDAC; padding:10px;">Good people bring out the good in people</h3>
      <h3 data-cat="baseball" style="color: white; background:#4ABDAC; padding:10px;">Never let the fear of striking out get in your way</h3>
      <h3 data-cat="mans-bf" style="color: white; background:#4ABDAC; padding:10px;">Dogs <span style="font-size:20px; text-decoration: underline;">ARE</span> man's best friend</h3>
      <h3 data-cat="kindness" style="color: white; background:#4ABDAC; padding:10px;">Be honest, caring and compassionate</h3>
      <h3 data-cat="balanced" style="color: white; background:#4ABDAC; padding:10px;">Strive for balance</h3>
      <h3 data-cat="boardgames" style="color: white; background:#4ABDAC; padding:10px;">Boardgames are cool. Ignore anyone who says otherwise!</h3>
      <h3 data-cat="be-a-maker" style="color: white; background:#4ABDAC; padding:10px;">Make stuff. What stuff? Anything!</h3>
      <h3 data-cat="me-time" style="color: white; background:#4ABDAC; padding:10px;">Give yourself a little 'me' time everyday</h3>
    </div>
    <div class="large-8 medium-6 columns">
      <ul class="grid snapshots-images">
        <div class="grid-sizer"></div>
        <li class="grid-item goodpeople">
          <img src="/images/snapshot-imgs/1people1.jpg" />
        </li>
        <li class="grid-item balanced">
          <img src="/images/snapshot-imgs/2balance.jpg" />
        </li>
        <li class="grid-item balanced me-time">
          <img src="/images/snapshot-imgs/4bridge.jpg" />
        </li>
        <li style="list-style-type: none;" class="grid-item me-time be-a-maker">
          <img src="/images/snapshot-imgs/5computer.jpg" />
        </li>
        <li class="grid-item mans-bf">
          <img src="/images/snapshot-imgs/6dog2.jpg" />
        </li>
        <li class="grid-item goodpeople">
          <img src="/images/snapshot-imgs/18people.jpg" />
        </li>
        <li class="grid-item baseball goodpeople">
          <img src="/images/snapshot-imgs/16baseballpeople.jpg" />
        </li>
        <li class="grid-item goodpeople">
          <img src="/images/snapshot-imgs/7family.jpg" />
        </li>
        <li class="grid-item mans-bf">
          <img src="/images/snapshot-imgs/9peopledog.jpg" />
        </li>
        <li class="grid-item goodpeople kindness">
          <img src="/images/snapshot-imgs/10people3.jpg" />
        </li>
        <li class="grid-item baseball balanced me-time">
          <img src="/images/snapshot-imgs/11baseball1.jpg" />
        </li>
        <li class="grid-item be-a-maker balanced me-time">
          <img src="/images/snapshot-imgs/12camera.jpg" />
        </li>
        <li class="grid-item mans-bf">
          <img src="/images/snapshot-imgs/13dog1.jpg" />
        </li>
        <li class="grid-item goodpeople">
          <img src="/images/snapshot-imgs/14mepeople1.jpg" />
        </li>
        <li class="grid-item goodpeople">
          <img src="/images/snapshot-imgs/15people2.jpg" />
        </li>
        <li class="grid-item balanced boardgames">
          <img src="/images/snapshot-imgs/3boardgame2.jpg" />
        </li>
        <li class="grid-item goodpeople kindness">
          <img src="/images/snapshot-imgs/17mepeople.jpg" />
        </li>
      </ul>
    </div>
  </div>
</div>

<div id='teacher'>  
  <div class='two spacing'></div>
  <div style="height:150px; text-align:center; background: url(images/background_test.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" >
    <h2 style="text-transform: uppercase; color: white; text-align:center; padding-top: 50px;">Who am I as a teacher?</h2>
  </div>
  <div class='two spacing'></div>

  <div class='row'>
    <div class='medium-6 columns'>
      <div class="medium-12 columns" style="background:#FAB438; padding:10px; margin-bottom:10px;">
        <h3 style="color:white;">Where I've taught</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Shen Wai International School</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Shenzhen, China</span>
          <span><p>August 2016 - Present</p>
          <ul style="margin-bottom:0px;">
            <li>MYP/DP Mathematics Teacher</li>
          </ul>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Stratford Hall</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Vancouver, Canada</span>
          <p>Sept 2015 - June 2016</p>
          <ul>
            <li>MYP Design Teacher</li>
          </ul>
          <p>Aug 2010 - June 2014</p>
          <ul style="margin-bottom:0px;">
            <li>MYP/DP Mathematics and DP Chemistry Teacher</li>
          </ul>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Fukuoka International School</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Fukuoka, Japan</span>
          <p>Aug 2008 - June 2010</p>
          <ul style="margin-bottom:0px;">
            <li>DP Chemistry and Biology Teacher</li>
          </ul>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">American School of Ulaanbaatar</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Ulaanbaatar, Mongolia</span>
          <p>May 2007 - June 2008</p>
          <ul style="margin-bottom:0px;">
            <li>Middle Science Teacher</li>
          </ul>
        </div>
      </div>

      <div class="medium-12 columns" style="background: #FAB438; padding: 10px; margin-bottom:10px;">
        <h3 style="color:white;">Education Related Projects</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Learn A Little Python Curriculum
            <a href="../portfolio_items/learn-python/coding-curriculum.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>I've started to put together a beginner Python coding curriculum. This is an opportunity to for me to break down the skills and knowledge required to get an solid basic foundation and reflect further on how this might best be taught to students.</p>
        </div>
        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Curricular Links
            <a href="../portfolio_items/math/curricular-links.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>This is a collection of coding activities that connect to various subject areas. They are currently mainly focused on mathematics but I hope to continue to add and grow the diversity of examples provided.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Course Website
            <a href="http://courses.drew-wheeler.com" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>This is my course website where I share many of the resources that I use within my mathematics. I've written a blog post <a href="../coding/education/2017/01/10/creating-my-class-website.html" target="_blank">here</a> that discusses some of my reasons for creating this.</p>
        </div>
      </div>
    </div>

    <div class='medium-6 columns'>
      <div class="medium-12 columns" style="background: #FAB438; padding: 10px; margin-bottom:10px;">
        <h3 style="color:white;">Workshops I've run</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Coding Across The Subjects</span>
          <p>21st Century Learning Hong Kong - <em>March 2017</em></p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Trello + Google Sheets for Planning
            <a href="../education/2016/11/27/organizing-my-teaching-with-google-sheets-and-trello.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>21CL Teach Meet Shenzhen - <em>December 2016</em></p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Python Across The Subjects
            <a href="../education/coding/2016/11/02/python-across-the-subjects-workshop.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>AISG EdTech Conference - <em>October 2016</em></p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Introduction to Photography</span>
          <p>St. George ISBC Conference - <em>January 2013</em></p>
        </div>
      </div>

      <div class="medium-12 columns" style="background:#FAB438; padding:10px;">
        <img alt="" src="images/WorkshopPhoto.jpg" style="padding: 10px;">
      </div>
    </div>
  </div>
</div>

<div id='learner'>
  <div class='two spacing'></div>
  <div style="height:150px; text-align:center; background: url(images/background_test2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" >
    <h2 style="text-transform: uppercase; color: white; text-align:center; padding-top: 50px;">Who am I as a learner?</h2>
  </div>
  <div class='two spacing'></div>

  <div class='row'>
    <div class='medium-6 columns' style="margin-bottom:10px;">
      <div class="medium-12 columns" style="background:#FE491A; padding:10px;">
        <h3 style="color:white;">Education</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Masters in Mathematics for Teachers</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Waterloo University</span>
          <p>September 2012 - June 2016</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Bachelors of Education</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Nipissing University</span>
          <p>September 2006 - June 2007</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Bachelors of Medical Sciences</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Western University</span>
          <p>September 2002 - June 2006</p>
        </div>
      </div>
    </div>

    <div class='medium-6 columns' style="margin-bottom:10px;">
      <div class="medium-12 columns" style="background: #FE491A; padding: 10px;">
        <h3 style="color:white;">Training & Workshops</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">DP Mathematics SL - Category 2</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">February 2017</span>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Google Certified Level 2 Educator</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">January 2017</span>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">MYP Mathematics - Category 3</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">November 2012</span>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">DP Chemistry - Category 3</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">June 2011</span>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">DP Chemistry - Category 1</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">November 2008</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='developer'>
  <div class='two spacing'></div>
  <div style="height:150px; text-align:center; background: url(images/background_test3.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" >
    <h2 style="text-transform: uppercase; color: white; text-align:center; padding-top: 50px;">Who am I as a developer?</h2>
  </div>
  <div class='two spacing'></div>

  <div class='row'>
    <div class='medium-6 columns' style="margin-bottom:10px;">
      <div class="medium-12 columns" style="background:#4ABDAC; padding:10px; margin-bottom:10px;">
        <h3 style="color:white;">Where I've worked</h3>
        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <a href="https://www.vendasta.com/" target="_blank" style="font-weight:bold; font-size: 18px;">Vendasta Technologies</a>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Vancouver, Canada</span>
          <p>September 2015 - June 2016</p>
          <ul style="margin-bottom:0px;">
            <li>Junior Software Developer</li>
          </ul>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <a href="https://www.linkedin.com/company/coastr" target="_blank" style="font-weight:bold; font-size: 18px;">Coastr</a>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Vancouver, Canada</span>
          <p>November 2014 - August 2015</p>
          <ul style="margin-bottom:0px;">
            <li>Junior Software Developer</li>
          </ul>
        </div>
      </div>
      <div class="medium-12 columns" style="background:#4ABDAC; padding:10px;">
        <img alt="" src="images/DeveloperImage.jpg" style="padding: 10px;">
      </div>
    </div>

    <div class='medium-6 columns' style="margin-bottom:10px;">
      <div class="medium-12 columns" style="background:#4ABDAC; padding:10px; margin-bottom:10px;">
        <h3 style="color:white;">Education</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Web Development Program</span>
          <span class="resume-span-right" style="font-style:italic; float:right; font-size:16px;">Lighthouse Labs</span>
          <p>September - November 2014</p>
        </div>
      </div>

      <div class="medium-12 columns" style="background: #4ABDAC; padding: 10px;">
        <h3 style="color:white;">Some Related Projects</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">My 365 Project</span>
          <p>This web application was built to manage my personal 'photograph a day project'.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Curator (QR8R)</span>
          <p>Curator is an image curating application that was created for my final project while completing the Lighthouse Labs Web Development program.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Remarks</span>
          <p>Remarks is a document markup application that was created for my midterm project while completing the Lighthouse Labs Web Development program.</p>
        </div>
        <a href="../projects.html" target="_blank" class="button expand" style="background: #FAB438; border: #FAB438;">Learn More About These Projects</a>
      </div>
    </div>
  </div>
</div>

<div id='creator' >
  <div class='two spacing'></div>
  <div style="height:150px; text-align:center; background: url(images/background_test.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" >
    <h2 style="text-transform: uppercase; color: white; text-align:center; padding-top: 50px;">Who am I as a creator?</h2>
  </div>
  <div class='two spacing'></div>


  <div class="row">
    <div class='medium-6 columns' style="margin-bottom:10px;">
      <div class="medium-12 columns" style="background: #FAB438; padding: 10px;">

        <h3 style="color:white;">Coding & Education</h3>
        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Curricular Links
            <a href="../portfolio_items/math/curricular-links.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>This is a collection of coding activities that connect to various subject areas. They are currently mainly focused on mathematics but I hope to continue to add and grow the diversity of examples provided.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Learn A Little Python Curriculum
            <a href="../portfolio_items/learn-python/coding-curriculum.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>I've started to put together a beginner Python coding curriculum. This is an opportunity to for me to break down the skills and knowledge required to get an solid basic foundation and reflect further on how this might best be taught to students.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Why Learn Coding? Game
            <a href="../coding/education/2017/02/12/my-why-learn-coding-game.html" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>For my Google Innovator application, I decided to create a memory-style video game that introduces several of the reasons that I think it is valuable to learn coding.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Course Website
            <a href="http://courses.drew-wheeler.com" target="_blank" class="button" style="float:right; background: #FE491A; border: #FE491A; margin-left:5px;">View</a>
          </span>
          <p>This is my course website where I share many of the resources that I use within my mathematics. I've written a blog post <a href="../coding/education/2017/01/10/creating-my-class-website.html" target="_blank">here</a> that discusses some of my reasons for creating this.</p>
        </div>
      </div>
    </div>

    <div class='medium-6 columns' style="margin-bottom:10px;">
      <div class="medium-12 columns" style="background: #FAB438; padding: 10px;">
        <h3 style="color:white;">Photography Projects</h3>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Photography Fundraising Project</span>
          <p>I started a photography fundraising project my previous schools that went on to raise ~40k dollars over three years.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">Wedding & Family Photography Business</span>
          <p>Gained experience photographing weddings and families from 2012 - 2015.</p>
        </div>

        <div class="resume-item" style="background: #f2f2f2; padding: 10px; color:black; margin-top:10px; margin-bottom:10px;">
          <span style="font-weight:bold; font-size: 18px;">My 365 Project</span>
          <p>This web application was built to show a gallery of my personal 'photograph a day project'.</p>
        </div>
        <a href="../projects.html" target="_blank"  class="button expand" style="background: #4ABDAC; border: #4ABDAC;">Learn More About These Projects</a>
      </div>
    </div>
  </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Recent posts
      /
      <a href='/blog/'>View more posts</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}
    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class='two spacing'></div>
</div>
