
<div class="row">
  <div class="title-group" style="margin-top:40px;">
      <h1 class="special">
          <span style="margin-left:10px;">
              My Connected Coding Challenge
          </span>
      </h1>
      <p class="lead" style="margin-bottom:20px; margin-left:10px;">
          These are the resulting projects of a daily challenge that I gave myself to create and share a coding task that connects to a curricular subject area each day. I think that there are many integrated opportunities within coding for students to develop their computational thinking skills and creativity. This was my chance to explore this idea. The project started on April 16th and contiued until....not sure, as it is still going.
      </p>
  </div>
</div>