<div class="title-group">
    <h1 class="special">
        <span>
            Curricular Links
        </span>
    </h1>
    <p class="lead">
        Coding curriculum links.
    </p>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <ul class="button-group even-2">
      {% if page.url contains 'math' %}
      <li><a href="#" class="button" style="background:lightgray">Mathematics</a></li>
      {% else %}
      <li><a href="../../portfolio_items/math_links/curricular_links.html" class="button">Mathematics</a></li>
      {% endif %}
      {% if page.url contains 'other' %}
      <li><a href="#" class="button" style="background:lightgray">Other</a></li>
      {% else %}
      <li><a href="../../portfolio_items/other_links/curricular_links.html" class="button">Other</a></li>
      {% endif %}
    </ul>
  </div>
</div>