---
layout: curric_links
section_id: portfolio
items:
  - title: Coin Toss Simulation
    topic: Probability
    data-link: cointoss
    google_link: https://docs.google.com/document/d/1dGTuPedFnqhjCmHnaRRbXXAsAqysehgsJcwO-x55hBI/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1dGTuPedFnqhjCmHnaRRbXXAsAqysehgsJcwO-x55hBI
  - title: Function Investigation
    topic: Functions
    data-link: functionsinvestigation
    google_link: https://docs.google.com/document/d/1Jk61iAW-cz3v2CON1bOTRQh1hAGcySVRtX8ZXyRVG3Q/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1Jk61iAW-cz3v2CON1bOTRQh1hAGcySVRtX8ZXyRVG3Q
  - title: Composite Functions
    topic: Functions
    data-link: compositefunctions
    google_link: https://docs.google.com/document/d/1qF70H3ISXX_0gxWqOn7523OY8xrgmoWJ29ExDeem91w/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1qF70H3ISXX_0gxWqOn7523OY8xrgmoWJ29ExDeem91w
  - title: Encryption/Decryption
    topic: Inverse Functions
    data-link: inversefunctions
    google_link: https://docs.google.com/document/d/1kR2i2roM5onac8R5WSiF1SZjcQ-PpGwA0Fx639NoR5A/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1kR2i2roM5onac8R5WSiF1SZjcQ-PpGwA0Fx639NoR5A
---

<div class='full' style="padding: 40px 0 0;">
    <div class="row">
        <div id="ribbon"></div>
        <div id="page">

            <!-- Zozo Tabs Start-->
            <div id="tabbed-nav2" class="z-tabs-loading">

                <!-- Tab Navigation Menu -->
                <ul>
                    {% for x in page.items %}
                    <li data-link="{{x.data-link}}"><a>{{x.title}}<span>{{x.topic}}</span></a></li>
                    {% endfor %}
                </ul>

                <!-- Content container -->
                <div>
                    {% for x in page.items %}
                    <div class="row">
                        <div class="medium-12 columns">
                            <h4 style="display:inline-block;">{{x.title}} ({{x.topic}})</h4>
                            <a href="{{x.sharable_link}}" target="_blank"  class="button" style="background: #FE491A; border: #FE491A; float:right;">Google Doc Link</a>
                            <iframe src="{{x.google_link}}" height="600" width="100%"></iframe>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <span class="z-spinner"></span>
            </div>
            <!-- Zozo Tabs End-->
        </div>
        <div class='two spacing'></div>
    </div>
</div>



<script>
    jQuery(document).ready(function ($) {
        /* jQuery activation and setting options for second tabs*/
        $("#tabbed-nav2").zozoTabs({
            position: "top-left",
            orientation: "vertical",
            multiline: true,
            style: "contained",
            theme: "flat-sun-flower flat",
            spaced: true,
            rounded: false,
            deeplinking: true,
            defaultTab: 'cointoss',
            animation: {
                easing: "easeInOutExpo",
                duration: 450,
                effects: "slideH"
            }
        });
    });
</script>
