---
layout: curric_links
section_id: portfolio
items:
  - title: Temperature Simulation
    topic: Science
    data-link: tempsimulation
    google_link: https://docs.google.com/document/d/1FgHk4iksd1REPQM_ClTr4-CFcbieT2yRoCd5JqDccpw/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1FgHk4iksd1REPQM_ClTr4-CFcbieT2yRoCd5JqDccpw
    scratch_link: https://scratch.mit.edu/projects/74352746/
  - title: Spinner Simulation
    topic: Mathematics
    data-link: spinnerprob
    google_link: https://docs.google.com/document/d/1gRwassP3mbfO7Yz7Rp1XfOAwNUBRXTRg7ThP90R03qk/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1gRwassP3mbfO7Yz7Rp1XfOAwNUBRXTRg7ThP90R03qk
    scratch_link: https://scratch.mit.edu/projects/148534039/
  - title: Coin Toss Simulation
    topic: Mathematics
    data-link: cointoss
    google_link: https://docs.google.com/document/d/1OQL5DfJPBBRcg0PJpfMPmO59WKqD8euEY3OZcTlDIE8/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1OQL5DfJPBBRcg0PJpfMPmO59WKqD8euEY3OZcTlDIE8
    scratch_link: https://scratch.mit.edu/projects/139252445/
  - title: Pong Arcade Game
    topic: Mathematics
    data-link: pong
    google_link: https://docs.google.com/document/d/1szLRQ7YLYR08jBh_iQIgxhQClimz-nLhbHb2P_derZs/pub?embedded=true
    sharable_link: https://drive.google.com/open?id=1szLRQ7YLYR08jBh_iQIgxhQClimz-nLhbHb2P_derZs
    scratch_link: https://scratch.mit.edu/projects/74382190/

---

<div class='full' style="padding: 40px 0 0;">
    <div class="row">
        <div id="ribbon"></div>
        <div id="page">

            <!-- Zozo Tabs Start-->
            <div id="tabbed-nav2" class="z-tabs-loading">

                <!-- Tab Navigation Menu -->
                <ul>
                    {% for x in page.items %}
                    <li data-link="{{x.data-link}}"><a>{{x.title}}<span>{{x.topic}}</span></a></li>
                    {% endfor %}
                </ul>

                <!-- Content container -->
                <div>
                    {% for x in page.items %}
                    <div class="row">
                        <div class="medium-12 columns">
                            <h4>{{x.title}} ({{x.topic}})</h4>
                            <a href="{{x.sharable_link}}" target="_blank"  class="button" style="background: #FE491A; border: #FE491A;">Google Doc Link</a>
                            <a href="{{x.scratch_link}}" target="_blank"  class="button" style="background: #4ABDAC; border: #4ABDAC;">Scratch Link</a>

                            <iframe src="{{x.google_link}}" height="600" width="100%"></iframe>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <span class="z-spinner"></span>
            </div>
            <!-- Zozo Tabs End-->
        </div>
        <div class='two spacing'></div>
    </div>
</div>



<script>
    jQuery(document).ready(function ($) {
        /* jQuery activation and setting options for second tabs*/
        $("#tabbed-nav2").zozoTabs({
            position: "top-left",
            orientation: "vertical",
            multiline: true,
            style: "contained",
            theme: "flat-sun-flower flat",
            spaced: true,
            rounded: false,
            deeplinking: true,
            defaultTab: 'tempsimulation',
            animation: {
                easing: "easeInOutExpo",
                duration: 450,
                effects: "slideH"
            }
        });
    });
</script>
